body{
    margin: 0;
    background-color: #cccccc;
}

label{
    font-family: sans-serif;
    font-size: 16px;
}

input {
    font-size: 0.9em;
    padding: 0.4em;
    border-radius: 9px;
    border: 1px solid;
}

select{
    padding: 0px 0px 7px 0px;
    text-align: center;
    width: 180px;
    border-radius: 5px;
    border: 1px solid;
}

#menu{
    float: left;
    min-height: 100vh;
    /* height: 100%; */
    position: fixed;
    top: 0;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    background: #404c81;
    height: 100vh;
}

#menu ul li {
    background-color: #404C81;
    list-style: none;
}

#menu ul li a {
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 20px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}

#menu ul li a:hover {
    background: #6E81D5;
    border-left: 10px solid #333;
    color: #fff;
}

#menu ul li ul{
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in;
}

#menu ul li li a{
    padding: 10px 10px 10px 50px;
    /*background: #98a7b1;**/
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    text-transform: none;
    box-sizing: border-box;
    cursor: pointer;
}

#menu ul li li:last-child a{
    border-bottom: 0;
}

#menu ul li:hover ul{
    max-height: 150px;
    transition: .6s all ease-in;
}

#menu ul li a:hover{
    /*background: #666;*/
    color: #fff;
}

#bienvenida{
    text-align: center;
}

#crear{
    position: absolute;
    top: 10%;
    left: 32%;
    background-color: #dddddd;
    border-radius: 25px;
    width: 650px;
    height: 450px;
}

#crear header{
    background-color: #3a7999;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px 25px 0px 0px;
}

#crear table{
    padding: 40px 145px;
}

#crear table td{
    padding: 7px 20px;
    white-space: nowrap;
}

input[type=submit]{
    border: none;
    background-color: #3a7999;
    color: #f2f2f2;
    height: 40px;
}

#actualizar{
    position: absolute;
    top: 5%;
    left: 40%;
    background-color: #dddddd;
    border-radius: 25px;
    width: 500px;
    height: 200px;
}

#actualizar header{
    background-color: #3a7999;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px 25px 0px 0px;
}

#actualizar table{
    padding: 18px 100px;
}

#actualizar table td{
    padding: 10px 25px;
}